{% extends 'base.html.twig' %}

{% block title %}HoussArtGallery- Accueil !{% endblock %}

{% block body %}

<div class="example-wrapper">
<h1>Bienvenue sur HoussartGallery</h1>
</div>
{% endblock %}
